<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class='notice'>
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

<p>To add new inventory please fill in the following form: </p>
<form id='addInventory' action='/inv/inventory' method='post'>
    <div id='inventoryDetails'>
        <label class='top' for='inv_make'>Make</label>
        <input type='text' id='inv_make' name='inv_make' required value='<%= locals.inv_make %>'>

        <label class='top' for='inv_model'>Model</label>
        <input type='text' id='inv_model' name='inv_model' required value='<%= locals.inv_model %>'>

        <label class='top' for='inv_year'>Year</label>
        <input type='text' id='inv_year' name='inv_year' placeholder='YYYY' pattern='^(19|20)\d{2}$' required value='<%= locals.inv_year %>'>

        <label class='top' for='inv_description'>Description</label>
        <input type='text' id='inv_description' name='inv_description' required value='<%= locals.inv_description %>'>
  
        <label class='top' for='inv_image'>Image</label>
        <input type='text' id='inv_image' name='inv_image' placeholder='images/image.png' pattern='^[a-z_-\s0-9.]+$' required value='<%= locals.inv_image %>'>      
  
        <label class='top' for='inv_thumbnail'>Thumbnail</label>
        <input type='text' id='inv_thumbnail' name='inv_thumbnail' placeholder='images/image.png' pattern='^[a-z_-\s0-9.]+$' required value='<%= locals.inv_thumbnail %>'>   
  
        <label class='top' for='inv_price'>Price</label>
        <input class='numbers' type='number' id='inv_price' name='inv_price' min='1' step='any' required value='<%= locals.inv_price %>'>   

        <label class='top' for='inv_miles'>Miles</label>
        <input type='text' id='inv_miles' name='inv_miles' required value='<%= locals.inv_miles %>'>

        <label class='top' for='inv_color'>Color</label>
        <input type='text' id='inv_color' name='inv_color' required value='<%= locals.inv_color %>'>

        <%- classifications %>

        <input class='button' type='submit' id='add' value='Add Inventory'>
    </div>
</form>
